body {
    font-family: Impact, Arial, sans-serif;
    font-size: 16px;
}

#tittle {
    background-color: gold;
    color: darkturquoise;
}

.list {
    background-color: black;
    color: white;
}

li {
    margin: 10px 0;
    margin-left: 10px;
  }

ol {
    list-style: none; counter-reset: li
}

li::before {
    content: counter(li); color: red;
    display: inline-block; width: 1em;
    margin-left: -1em;
    font-size: 18px;
}

li {
    counter-increment: li
}